In [1]:
import json
import pandas as pd
from pathlib import Path

In [2]:
# Defining paths
GROUP_DATA_DIR = Path("/Users/harshul/projects/kgwebsite/group-data")

MEMBERS_DIR_PATH = GROUP_DATA_DIR / 'members/'
WEBSITE_DATA_PATH = GROUP_DATA_DIR / 'website_data/'
CONTENT_DIR_PATH = WEBSITE_DATA_PATH / 'content'

In [3]:
"""
def determine_academic_role(top_experience_role, top_education_degree, top_education_end_date):
    if any(substring in top_experience_role for substring in ['Assistant Professor', 'Professor']):
        return 'Professor'
    elif top_experience_role in ['Visiting Researcher', 'Postdoctoral Researcher']:
        return 'Postdoctoral researcher'
    
    if top_education_degree == 'Bachelors':
        return 'Graduate Student' if top_education_end_date is not None else 'Undergraduate Student'
    elif top_education_degree in ['Masters', 'PhD']:
        return 'Graduate Student'

    return 'Other'
"""

"\ndef determine_academic_role(top_experience_role, top_education_degree, top_education_end_date):\n    if any(substring in top_experience_role for substring in ['Assistant Professor', 'Professor']):\n        return 'Professor'\n    elif top_experience_role in ['Visiting Researcher', 'Postdoctoral Researcher']:\n        return 'Postdoctoral researcher'\n    \n    if top_education_degree == 'Bachelors':\n        return 'Graduate Student' if top_education_end_date is not None else 'Undergraduate Student'\n    elif top_education_degree in ['Masters', 'PhD']:\n        return 'Graduate Student'\n\n    return 'Other'\n"

In [4]:

def parse_education_experience_df(member_dir):
    member_json_dir = member_dir / 'jsons'
    education_experience_list = []

    if (member_experiences_dir := (member_json_dir / 'experiences.json')).exists():
        with open(member_experiences_dir, 'r') as f:
            education_experience_list += json.load(f)
    else:
        print(member_experiences_dir)
    
    if (member_education_dir := (member_json_dir / 'education.json')).exists():
        with open(member_education_dir, 'r') as f:
            education_experience_list += json.load(f)
    
    return pd.DataFrame(education_experience_list)

member_records = []

def extract_member_academic_role(education_experience_df):
    current_academic_role = ""  
    is_current_member = False
    if 'end_date' not in education_experience_df.columns:
        education_experience_df['end_date'] = None
    filtered_e_e_df = education_experience_df[education_experience_df.end_date.isna()]
    if 'institution' in filtered_e_e_df.columns:
        filtered_e_e_df = filtered_e_e_df[filtered_e_e_df['institution'] == 'Michigan State University']
    else:

        print("No 'institution' column found in dataframe.")
        filtered_e_e_df = pd.DataFrame()

    
    

    if len(filtered_e_e_df) == 0: 
       pass
        
    
    elif len(filtered_e_e_df) == 1:
        role = filtered_e_e_df.iloc[0].get('role', None)  
        degree = filtered_e_e_df.iloc[0].get('degree', None)  
        if role in ['Assistant Professor', 'Professor']:
            current_academic_role = 'Professor'
        elif role in ['Visiting Researcher', 'Postdoctoral Researcher']:
                current_academic_role = 'Postdoctoral Researcher'  
        elif degree in ['Masters', 'PhD']:
                current_academic_role = 'Graduate Student'     
        elif degree == 'Bachelors':

                current_academic_role = 'Graduate Student' if filtered_e_e_df.iloc[0].get('degree')   is None else 'Undergraduate Student'
        is_current_member = True
         

    else:
        raise ValueError('Not sure what happened multiple positions at MSU')
    
    return current_academic_role, is_current_member



current_people_page_list = []
alumni_people_page_list = []


for member_dir in MEMBERS_DIR_PATH.glob('*'):
    if not (member_info_fname := member_dir / 'info.json').exists():
        continue
    else:
        member_info = json.load(open(member_info_fname, 'r'))
    education_experience_df = parse_education_experience_df(member_dir)
    current_academic_role, is_current_member = extract_member_academic_role(education_experience_df)
    if not is_current_member:
        continue
    
    first_name = member_info['first_name']
    last_name = member_info['last_name']
    nickname = member_info.get('nick_name', None)

    if nickname is not None:
        name = f'{first_name} "{nickname}" {last_name}'
    else:
        name = f'{first_name} {last_name}'

    if is_current_member:
        current_people_page_list.append({"Name": name, "academic_role": current_academic_role})
    else:
        alumni_people_page_list.append({"Name": name, "academic_role": current_academic_role})

/Users/harshul/projects/kgwebsite/group-data/members/erin_visser/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/vicente_amado/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/yuki_matsumura/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/isaac_smith/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/hayden_monk/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/atharva_arya/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/bea_lu/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/sona_chitchyan/jsons/experiences.json
No 'institution' column found in dataframe.
/Users/harshul/projects/kgwebsite/group-data/members/iliomar_rodriguez_ramos/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/jaladh_singhal/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/jack_o_brien/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/cecelia_powers/jsons/experiences.json
/Users/harshul/projects/kgwebsite/group-data/members/alexander_grunewald/jsons/experiences.json

In [5]:
current_people_page_list

[{'Name': 'Joshua "Josh" Shields', 'academic_role': 'Graduate Student'},
 {'Name': 'Anirban  "" Dutta', 'academic_role': 'Postdoctoral Researcher'},
 {'Name': 'Erin "" Visser', 'academic_role': 'Undergraduate Student'},
 {'Name': 'Vicente ""  Amado Olivo', 'academic_role': 'Graduate Student'},
 {'Name': 'Yuki "" Matsumura', 'academic_role': 'Graduate Student'},
 {'Name': 'Andrew "" Fullard', 'academic_role': ''},
 {'Name': 'Hayden "" Monk', 'academic_role': 'Undergraduate Student'},
 {'Name': 'Bea "" Lu', 'academic_role': 'Undergraduate Student'},
 {'Name': 'Jack "Jack" O\'Brien', 'academic_role': 'Graduate Student'},
 {'Name': 'Cecelia "" Powers', 'academic_role': 'Undergraduate Student'},
 {'Name': 'Sofia "" Biriouk', 'academic_role': 'Undergraduate Student'},
 {'Name': 'Jing "" Lu', 'academic_role': 'Postdoctoral Researcher'},
 {'Name': 'Wolfgang "" Kerzendorf', 'academic_role': 'Professor'}]

In [6]:
alumni_people_page_list

[]

In [7]:
member_dir

PosixPath('/Users/harshul/projects/kgwebsite/group-data/members/wolfgang_kerzendorf')

In [8]:
filtered_e_e_df = education_experience_df[education_experience_df.end_date.isna()]

In [9]:
filtered_e_e_df.iloc[0]

institution    Michigan State University
city                        East Lansing
state                           Michigan
country                               US
role                 Assistant Professor
start_date                    2019-08-15
end_date                             NaN
degree                               NaN
subject                              NaN
Name: 0, dtype: object

In [10]:
parse_education_experience_df(member_dir)

,institution,city,state,country,role,start_date,end_date,degree,subject
0,Michigan State University,East Lansing,Michigan,US,Assistant Professor,2019-08-15,NaN,NaN,NaN
1,New York University,New York,New York,US,Senior Research Associate,2019-01-01,2019-12-31,NaN,NaN
2,European Southern Observatory,Garching,Bavaria,DE,ESO Fellow,2014-10-01,2018-12-31,NaN,NaN
3,University of Toronto,Toronto,Ontario,Canada,NaN,2011-10-01,2014-09-30,Postdoctoral Fellow,NaN
4,Australian National University,Canberra,,Australia,NaN,2007-02-01,2011-12-18,PhD,Physics and Astronomy